{% extends "layout.html" %} {% block body %}
<div class="container">
        
        
        <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-md-12">
                        <h1 class="h1-responsive">

                                <small class="text-muted">Our Story</small>
                        </h1>
                </div>
        </div>
        <hr/>
        <h2 class="h2-responsive">
                <small  style="font-size:22px;">
                        From Fixing Indian Address Structure we Landed to Building Autonomous Kit , onboarded the Mentors and Researchers to bring self driving cars in India
                </small>
        </h2>
                <br/>
                
                <div class="row wow fadeIn" data-wow-delay="0.2s">
                                <div class="col-md-12">
                                        <h1 class="h1-responsive">
                
                                                <small class="text-muted">Our Vision</small>
                                        </h1>
                                </div>
                        </div>
                        <hr/>
                        <h2 class="h2-responsive">
                                <small  style="font-size:22px;">
                                       We Aspire to Bring Automation to every sphere of Life by combining technologies like AI , ML and many more
                                </small>
                        </h2>
                        <br/>
                
                <div class="row wow fadeIn" data-wow-delay="0.2s">
                                <div class="col-md-12">
                                        <h1 class="h1-responsive">
                
                                                <small class="text-muted">Our Technology</small>
                                        </h1>
                                </div>
                        </div>
                        <hr/>
                        <h2 class="h2-responsive">
                                <small  style="font-size:22px;">
                                       We are creating AI Software and Hardware (perception , planning ,naigation ) kit for starting level 5 Autonomy
                                </small>
                        </h2>
</div>
{% endblock %}