<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>


    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JQuery -->
    <script type="text/javascript " src="../static/js/jquery-3.1.1.min.js "></script>

    <!-- Bootstrap dropdown -->
    <script type="text/javascript " src="../static/js/popper.min.js "></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript " src="../static/js/bootstrap.min.js "></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript " src="../static/js/mdb.min.js "></script>

    
    <script>

    </script>
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            margin-top: 3rem;
            ;
        }

        main .card {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: 768px) {
            .read-more {
                text-align: center;
            }
        }

        footer.page-footer a {
            color: #323232;
        }

        footer.page-footer {
            background-color: #dfe9f0;
            margin-top: 2rem;
            color: black;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }

        .font-small {
            font-size: 0.8rem;
        }
    </style>
</head>

<body>

    <body>

        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-inverse navbar-light">
                <div class="container">
                    <a class="navbar-brand blue-text font-bold" href="{{url_for('home')}}"><strong >GISCLE <b class="navbar-brand blue-text font-bold" style="font-size:10px;">India</b></strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <!-- <li class="nav-item ">
                                <a class="nav-link ml-4" href="{{url_for('home')}}">Home

                                </a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('about')}}">About</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('problems')}}">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('partners')}}">Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('events')}}">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('internships')}}">Careers
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('university')}}">Giscle University</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('contact')}}">Contact Us</a>
                            </li> -->
                            
                            <!-- {% if session.username %} 
                            <li style="color:red;font-weight: bold;padding-left: 5px;"class="nav-item nav-link dark-grey-text ml-3">Logged in as {{ session.username }}</li>
                            {% endif %} -->
                            {% if not session.username %}
                            <!-- <li class="nav-item">
                            <a class="nav-link dark-grey-text ml-3" href="{{url_for('register')}}">Register</a>
                            </li> -->
                            <li class="nav-item"><a class="nav-link dark-grey-text ml-3" href="{{url_for('login')}}">Login</a></li>
                            {% else %}
                            <li class="nav-item"><a style="color:red;"class="nav-link dark-blue-text ml-3" href="{{url_for('logout')}}"><strong>Logout</strong></a></li>
                            {% endif %}
                            <!-- <li class="nav-item">
                                <a class="nav-link dark-grey-text ml-3" href="{{url_for('register')}}">Register</a>
                            </li> -->
                            <!-- <li class="nav-item btn-group">
                                <a class="nav-link dropdown-toggle dark-grey-text ml-3" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">Dropdown
                                </a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li> -->
                        </ul>
                        <!-- <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </form> -->
                    </div>
                </div>
            </nav>
            <!--/.Navbar-->



        </header>

        

        <!--/.Footer-->

        <!-- SCRIPTS -->

        <!-- JQuery -->
        <script type="text/javascript " src="../static/js/jquery-3.1.1.min.js "></script>

        <!-- Bootstrap dropdown -->
        <script type="text/javascript " src="../static/js/popper.min.js "></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript " src="../static/js/bootstrap.min.js "></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript " src="../static/js/mdb.min.js "></script>

        <script>
            new WOW().init();
        </script>

    </body>


    <div class="container">
        <br/>
        <br/>

        {% for message in get_flashed_messages() %}
        {% if message=='USER EXISTS' or message=='INVALID LOGIN' %}
        <div style="text-align:center;color:red;font-weight:bold;">{{ message }}</div>
        {% elif message=='SUCCEESFULLY REGISTERED' or message=='SUCCESSFULLY LOGGED IN' or 'SUCCESSFULLY APPLIED FOR JOB ROLE' %}
        <div style="text-align:center;color:green;font-weight:bold;">{{ message }}</div>
        {% endif %}
        {% endfor %} {% block body %} {% endblock %}
    </div>


    

</html>