<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    {% if session.username %}
        Logged in as {{ session.username }}
    {% endif %}

    {% if not session.username %}
        <a href="{{url_for('register')}}">Register</a>
        <a href="{{url_for('login')}}">Login</a>
    {% else %}
        <a href="{{url_for('logout')}}">Logout</a>
    {% endif %}

    <div>
        {% for message in get_flashed_messages() %}
            <div>{{ message }}</div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>