{% extends "layout.html" %} {% block body %}
<div class="container">

        <div class="container">
                <div class="row wow fadeIn" data-wow-delay="0.2s">
                        <div class="col-md-12">
                                <h1 class="h1-responsive" style="color:#5ed666;">
                                        <b>GISCLE</b>
                                        <small class="text-muted">Products</small>
                                </h1>
                        </div>
                </div>
                <!--/.Page heading-->
                <hr>
                <!--Page heading-->

                <h2 class="h2-responsive">


                        <small class="text-muted" style="font-size:22px;">
                                <span>We are on a mission to bring forward a State of the Art Solution for Autonomous Driving In
                                        India . Our Aim was to make GISCLE Products cost effective and easy installation.
                                        With this aim we brought forward 2 of our Innovation in this field with the Launch
                                        of Offercam and Perception Module
                                        <br/>
                                </span>
                        </small>
                </h2>

                <br/>
                <strong>
                        <h3 class="h2-responsive" style="text-align: center;font-size: 35px;color: blueviolet">Our Products</h3>
                </strong>
        </div>
        <!--Section: Blog v.1-->
        <section class="py-4 text-center text-lg-left">

                <!--Section heading-->
                <!-- <h1 class="h1 font-weight-bold text-center mb-5 pt-4">Recent posts</h1>
              
                <p class="text-center mb-5 pb-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             -->
                <!--Grid row-->
                <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-5 col-xl-5 pb-3" style="padding-left:35px;padding-right:35px;">
                                <!--Featured image-->
                                <div class="view overlay rounded z-depth-2">
                                        <img style="width:100%;height:70%;" src="../static/logo1/prod3.jpg" alt="Sample image for first version of blog listing"
                                                class="img-fluid">
                                        <a>
                                                <!-- <div class="mask rgba-white-slight"></div> -->
                                        </a>
                                </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-7 col-xl-7">
                                <!--Excerpt-->
                                <a href="" class="green-text">
                                        <h6 class="font-weight-bold pb-1">
                                                <i class="fa fa-phone"></i> Mobile</h6>
                                </a>
                                <h3 class="mb-4 font-weight-bold dark-grey-text">
                                        <strong>OfferCam - Dashboard Camera</strong>
                                </h3>
                                <p>OfferCam is a Dashcam which pays for you to drive. Mount your phone horizontally so, you
                                        could comfortable in driving from the video output. You will get rewards for the
                                        recording and be uploading the video. 
                                        <br/> Why we collect the data ?
                                        <br/> 1. We analyze the data which you upload to look for key information such as potholes,
                                        fallen signs, changing road condition etc.
                                        <br/> 2. We also update the right authorities with this information, so the entire action
                                        time can be reduced.</p>
                                <p>
                                        
                                                <strong style="color:orange;">Currently Available for Android</strong>
                                        </p>
                                <a href="https://play.google.com/store/apps/details?id=com.organization.Giscle.giscle_app&hl=en" class="btn btn-success btn-md mb-3"><i class="fa fa-android" style="font-size:18px;padding-right:10px;"></i>Download For Android</a>
                        </div>
                        <!--Grid column-->

                </div>
                <!--Grid row-->

                <hr class="mb-5 mt-5 pb-3">

                <!--Grid row-->
                <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-7 col-xl-7 pb-3">
                                <!--Excerpt-->
                                <a href="" class="pink-text">
                                        <h6 class="font-weight-bold pb-1">
                                                <i class="fa fa-desktop"></i>Desktop</h6>
                                </a>
                                <h3 class="mb-4 font-weight-bold dark-grey-text">
                                        <strong>GISCLE - Annotation Tool</strong>
                                </h3>
                                <p>GISCLE has brought forward a Annotation Tool , where user can log in to their account and Annotate Images using the Annotation Tool available in the Website . Users will be ranked according to how many images he/she Annotated .
                                        <br/>
                                         And the Bonus is the Leader will get a chance to Ride a Autonomous Vehicle powered by GISCLE Autonomous Kit for Free ! Isn't that exciting  ? 
                                        <br>
                                So , Start Annotating Now for a Free Ride </p>
                                <p
                                <strong style="color:orange;" >Currently Available for Desktop </strong>
                                        </p>
                                        <a href="http://opengovindia.org/" class="btn btn-pink btn-md mb-3"><i class="fa fa-windows" style="font-size:18px;padding-right:10px;"></i>Visit Annotation Website</a>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <!-- <div class="col-lg-5 col-xl-5 mb-5">
                               
                                <div class="view overlay rounded z-depth-2">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Second image in the first version of blog listing"
                                                class="img-fluid">
                                        <a>
                                                <div class="mask rgba-white-slight"></div>
                                        </a>
                                </div>
                        </div> -->
                        <div class="col-lg-5 col-xl-5 pb-3" style="padding-left:35px;padding-right:35px;">
                                        <!--Featured image-->
                                        <div class="view overlay rounded z-depth-2">
                                                <img style="width:100%;height:100%;" src="../static/logo1/auto.jpg" alt="Sample image for first version of blog listing"
                                                        class="img-fluid">
                                                <a>
                                                        <!-- <div class="mask rgba-white-slight"></div> -->
                                                </a>
                                        </div>
                                </div>
                        <!--Grid column-->

                </div>
                <!--Grid row-->

                <hr class="mb-5 mt-4 pb-3">


                <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-5 col-xl-5 pb-3" style="padding-left:35px;padding-right:35px;">
                                        <!--Featured image-->
                                        <div class="view overlay rounded z-depth-2">
                                                <img style="width:100%;height:100%;" src="../static/logo1/auto1.jpg" alt="Sample image for first version of blog listing"
                                                        class="img-fluid">
                                                <a>
                                                        <!-- <div class="mask rgba-white-slight"></div> -->
                                                </a>
                                        </div>
                                </div>
                                <!--Grid column-->
        
                                <!--Grid column-->
                                <div class="col-lg-7 col-xl-7">
                                        <!--Excerpt-->
                                        <a href="" class="green-text">
                                                <h6 class="font-weight-bold pb-1">
                                                        <i class="fa fa-phone"></i> Mobile</h6>
                                        </a>
                                        <h3 class="mb-4 font-weight-bold dark-grey-text">
                                                <strong>GISCLE - Autonomous Kit</strong>
                                        </h3>
                                        <p>Coming Soon ....</p>
                                        <!-- <p>
                                                
                                                        <strong style="color:orange;">Currently Available for Android</strong>
                                                </p>
                                        <a href="https://play.google.com/store/apps/details?id=com.organization.Giscle.giscle_app&hl=en" class="btn btn-success btn-md mb-3"><i class="fa fa-android" style="font-size:18px;padding-right:10px;"></i>Download For Android</a> -->
                                </div>
                                <!--Grid column-->
        
                        </div>
                <!--Grid row-->
                
                <!--Grid row-->

        </section>
        <!--Section: Blog v.1-->
</div>
{% endblock %}
