{% extends "layout.html" %}

{% block body %}
    <!-- <h2>REGISTER</h2>
    <form action="{{url_for('register')}}" method="post" enctype="multipart/form-data">
        <dl>
            <dt>Name:</dt>
            <dd><input type="text" name="name"></dd>
            <dt>Username:</dt>
            <dd><input type="text" name="username"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password"></dd>
            <dt>Email:</dt>
            <dd><input type="text" name="email"></dd>
            <dt>Contact No:</dt>
            <dd><input type="text" name="contact"></dd>
            <dt>LinkedIn Link:</dt>
            <dd><input type="text" name="linkedin"></dd>
            <dt>CV:</dt>
            <dd><input id="file-picker" type="file" name="file"></dd>
        </dl>
        <button type="submit" value="Register">Register</button>
    </form> -->




    <br/>
    <br/>
    <br/>
    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.2s">
    <form action="{{url_for('register')}}" method="post" enctype="multipart/form-data" style="width:100%;height:40%;padding-left:30%;padding-right:30%;">
        <p class="h4 text-center mb-4">Fill Up Your Personal Details </p>
    
        <!-- Material input text -->
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="materialFormRegisterNameEx" class="form-control" name="name" required>
            <label for="materialFormRegisterNameEx">Your name</label>
        </div>

        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="materialFormRegisterNameEx" class="form-control" name="username" required>
            <label for="materialFormRegisterNameEx">User name</label>
        </div>
    
        <!-- Material input email -->
        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="materialFormRegisterEmailEx" class="form-control" name="email" required>
            <label for="materialFormRegisterEmailEx">Your email</label>
        </div>
    
        <!-- Material input email -->
        <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input type="email" id="materialFormRegisterConfirmEx" class="form-control" name="email" required>
            <label for="materialFormRegisterConfirmEx">Confirm your email</label>
        </div>
    
        <!-- Material input password -->
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="materialFormRegisterPasswordEx" class="form-control" name="password" required>
            <label for="materialFormRegisterPasswordEx">Your password</label>
        </div>
    
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="number" id="materialFormRegisterNameEx" class="form-control" name="contact" required>
            <label for="materialFormRegisterConfirmEx">Mobile</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="materialFormRegisterNameEx" class="form-control" name="linkedin" required>
            <label for="materialFormRegisterConfirmEx">LinkedIn Url</label>
        </div>
        <label class="text-muted" style="padding-left:40px;padding-bottom:0px;margin-bottom:0px;padding-top:5px;" for="materialFormRegisterConfirmEx">Upload Your CV in ".docx /.pdf "</label>
        <div style="padding-top:4px;margin-top:0px;" class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            
            <input id="file-picker" id="materialFormRegisterConfirmEx" class="form-control" type="file" name="file" required>
            
            
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit" value="Register">Register</button>
        </div>
    </form>
    <!-- Material form register -->
    </div>
{% endblock %}